<template>
  <div>
    <div class="form-container">
      <form @submit.prevent="addNewUser">
        <!-- Campos del formulario para nuevos datos -->
        <label for="newName">Nombre:</label>
        <input type="text" id="newName" v-model="newName" placeholder="Nuevo Nombre" required>

        <label for="newLastName">Apellido:</label>
        <input type="text" id="newLastName" v-model="newLastName" placeholder="Nuevo Apellido" required>

        <label for="newEmail">Correo electrónico:</label>
        <input type="email" id="newEmail" v-model="newEmail" placeholder="nuevo.usuario@gmail.com" required>

        <label for="newAge">Edad:</label>
        <input type="number" id="newAge" v-model="newAge" placeholder="25" required>

        <button type="submit">Agregar Nuevo Usuario</button>
      </form>
    </div>
    <div class="container">
      <UserItem v-for="user in Users" :key="user.id" v-bind="user" />
    </div>
  </div>
</template>

<script setup lang="ts">
  import UserItem from './UserItem.vue';
  import Users from '@/data/UserData';

  import { ref } from 'vue';

  const newName = ref('');
  const newLastName = ref('');
  const newEmail = ref('');
  const newAge = ref<number>(0);

  const addNewUser = () => {
    // Agregar nuevo usuario
    Users.push({
      id: Users.length + 1,
      name: newName.value,
      lastName: newLastName.value,
      email: newEmail.value,
      age: newAge.value,
      msg: 'Mensaje de nuevo usuario',
    });

    // Limpiar campos del formulario
    newName.value = '';
    newLastName.value = '';
    newEmail.value = '';
    newAge.value = 0;
  };
</script>

<style scoped>
  .form-container {
    background-color: #f2f2f2; /* Gris claro */
    border-radius: 8px; /* Bordes redondeados */
    padding: 20px;
    margin-bottom: 20px; /* Espaciado inferior */
  }

  form {
    display: grid;
    gap: 10px;
  }

  label {
    font-weight: bold;
  }

  input, button {
    padding: 8px;
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 4px; /* Bordes redondeados */
  }

  button {
    background-color: #4CAF50; /* Verde */
    color: #fff; /* Texto blanco */
    cursor: pointer;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    background-color: #355070;
  }
</style>