<template>
  <div class="card" :style="{ backgroundColor: backgroundColor }" @click="changeColor">
    <h2>#{{ props.id }} {{ name }} | {{ props.lastName }}</h2>
    <h3>Email: <span>{{ props.email }}</span></h3>
    <h3>Age: <span>{{ props.age }}</span></h3>
    <p>Msg: {{ props.msg }} </p>
    <input type="text" v-model="name">
  </div>
</template>

<script setup lang="ts">
  import type { IuserInfo } from '@/interfaces/IUserInfo';
  import Users from '@/data/UserData';
  import { ref } from 'vue';

  const props = defineProps<IuserInfo>();
  const name = ref(props.name);
  const backgroundColor = ref('#FFFFFF'); // color de fondo inicial
  const newName = ref('');
  const newLastName = ref('');
  const newEmail = ref('');
  const newAge = ref<number>(0);

  const changeColor = () => {
    // lógica para cambiar el color de fondo
    backgroundColor.value = '#FF0000';
  };

  const addNewUser = () => {
    // Validaciones
    if (!isValidInput(newName.value) || !isValidInput(newLastName.value) || !isValidEmail(newEmail.value) || !isValidAge(newAge.value)) {
      alert('Por favor, completa todos los campos correctamente.');
      return;
    }

    // Agregar nuevo usuario
    Users.push({
      id: Users.length + 1,
      name: newName.value,
      lastName: newLastName.value,
      email: newEmail.value,
      age: newAge.value,
      msg: 'Mensaje de nuevo usuario', // Puedes personalizar este mensaje
    });

    // Limpiar campos del formulario
    newName.value = '';
    newLastName.value = '';
    newEmail.value = '';
    newAge.value = 0;
  };

  const isValidInput = (value: string) => {
    return typeof value === 'string' && !!value.match(/^[A-Za-z\sáéíóúüÁÉÍÓÚÜ]+$/);
  };

  const isValidEmail = (email: string) => {
    return true; 
  };

  const isValidAge = (age: number) => {
    return typeof age === 'number' && age > 0 && age <= 80;
  };
</script>

<style scoped>
  .card {
    border: gray solid 1px;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
  }

  h2, h3 {
    color: black;
  }

  p {
    color: rgb(16, 48, 154);
  }
</style>