<script setup lang="ts">
  import UsersList from './components/Users/UsersList.vue';
  import { ref } from 'vue';
  import Users from '@/data/UserData';

  const users = ref(Users);
</script>
<!-- Hola GitLab -->
<template>
  <main>
    <h1>Here we're going to share my users: </h1>
      <UsersList class="list" />
  </main>
  <!-- <div id="app">
    <router-link to="/">Home</router-link>
    <router-link v-for="user in users" :key="user.id" :to="'/user/' + user.id">
      User {{ user.id }}
    </router-link>

    <router-view></router-view>
  </div> -->
</template>
<!-- Hola GitLab :D ...git -->
<style scoped>
  h1 {
    text-align: center;
    width: 100%;
  }
  .list {
    padding: 12px;
  }
</style>
